@model FormularioViewModel
@{
    ViewBag.Title = "Formulário";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var endereco = Model.Paciente.des_end + ", " + Model.Paciente.num_end;
}

@using (Html.BeginForm("Create", "Formulario", FormMethod.Post)) { 
@Html.HiddenFor(model => model.idPaciente)
@Html.HiddenFor(model => model.idProfissional)
@Html.HiddenFor(model => model.idFormulario)

<h2 style="color:#428bca;"><span class="glyphicon glyphicon-list-alt"></span>  Formulário de Acompanhamento Domiciliar</h2>
<div class="panel panel-info ">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span> Informações do Paciente</h3>
    </div>
    <div class="panel-body">
        <!--========================================== DADOS PESSOAIS ================================================-->

        <p class="col-md-12"><h2>Prontuário: @Model.idFormulario</h2></p>
        <div class="panel-body" style="padding:20px; margin: 20px 0;  border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; border-left-color:#5bc0de; ">
            <h4 style="color:#428bca;">Dados Pessoais</h4>
            <p class="col-md-12"><strong>Paciente:</strong> @Model.Paciente.nom_paciente</p>
            <p class="col-md-12"><strong>Idade:</strong> @Model.Paciente.Idade anos</p>
            <p class="col-md-12"><strong>Telefone:</strong> @Model.Paciente.tel_paciente</p>
            <p class="col-md-12"><strong>Endereço:</strong> @endereco</p>
            <p class="col-md-12"><strong>Cuidador:</strong> @Model.Paciente.Nom_cuidador &nbsp;&nbsp;&nbsp;&nbsp; <strong>Parentesco:</strong> @Model.Paciente.des_parentesco</p>
            <br />

            <!--========================================== CID 10 ================================================-->

            <h4 style="color:#428bca;">CID 10</h4>
            <small class="col-md-12">Digite o cid ou sua descrição no campo abaixo e clique no botão para adicionar na lista</small>

            <div id="rp-cids" class="col-md-12" data-target-input="target-input-cids" data-url="http://localhost:32110/api/cid10/{0}">
                <input id="target-insert" type="text" style="min-width:100%;" placeholder="Entre com o CID ou a descrição" class="form-control" />
            </div>

            <div class="col-md-12">
                @Html.TextBoxFor(model => model.lstCID10,new { @class = "hidden",id = "target-input-cids", style = "min-width:100%;" })
            </div>
            <br />
            <!--========================================== MATERIAIS ================================================-->

            <h4 style="color:#428bca;"> Materiais</h4>

            <small>Escolha os materiais que foram utilizados durante a visita</small>


            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_cama, new { @class = "checkbox" }) Cama
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_cadRodas, new { @class = "checkbox" }) Cadeira de rodas
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_cadBanho, new { @class = "checkbox" }) Cadeira de banho
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_Aspirador, new { @class = "checkbox" }) Aspirador
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_Inalador, new { @class = "checkbox" }) Inalador
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_Colchao, new { @class = "checkbox" }) Colchão
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_Conc02, new { @class = "checkbox" }) Conc_O2
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_torpTransp, new { @class = "checkbox" }) Torp_Transp
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_Oximetro, new { @class = "checkbox" }) Oxímetro
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="checkbox">
                        @Html.CheckBoxFor(model => model.mat_CPAP, new { @class = "checkbox" }) CPAP
                    </div>
                </div>
            </div>

            <!--========================================== OBS ENFERMEIRA ================================================-->

            <h4 style="color:#428bca;">Observação Enfermeira</h4>
            <small>Selecione os procedimentos realizados pela enfermeira</small>

            <table class="table">
                <tr>
                    <td style="width:100px;">
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_Gastro, new { @class = "checkbox" }) Gastro
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_POD, new { @class = "checkbox" }) POD
                        </div>
                    </td>
                    <td>
                        <div class="col-md-1">
                            <h5>CE:</h5>
                        </div>
                        <div class="col-md-9">
                            @Html.DropDownListFor(model => model.grauCE , Model.opcoesCE,"Escolha um grau", new { @class = "form-control " })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_SNasoEnteral, new { @class = "checkbox" }) SNasoEnteral
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_SVesicalDemora, new { @class = "checkbox" }) SVesicalDemora
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_SVesicalInterm, new { @class = "checkbox" }) SVesicalInterm
                        </div>
                    </td>
                    <td>
                        <div class="checkbox">
                            @Html.CheckBoxFor(model => model.proc_Traqueostomia, new { @class = "checkbox" }) Traqueostomia
                        </div>
                    </td>
                </tr>
            </table>

            <small>Preencha o formulário de acordo com as informações sobre<code>ÚLCERA POR PRESSÃO (UP)</code></small>
            <table class="table">
                <tr>
                    <th>O Paciente teve UP ?</th>
                        <td>
                            <div class="radio">
                                @Html.RadioButtonFor(model => model.UP, true,new { id = "rdoSIM" }) SIM
                            </div>
                        </td>
                        <td>
                            <div class="radio">
                                @Html.RadioButtonFor(model => model.UP, false, new { id="rdoNAO"}) NÃO
                            </div>
                        </td>
                <tr>
                    <th><div class="" id="labelUP">Momento que o paciente foi diagnosticado com UP</div></th>
                    <td>
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.momento_UP, "PRÉ",new { id = "rdoPRE", disabled = true }) PRÉ
                        </div>
                    </td>
                    <td>
                        <div class="radio">
                            @Html.RadioButtonFor(model => model.momento_UP, "PÓS", new { id = "rdoPOS", disabled = true }) POS
                        </div>
                    </td>
                </tr>
                <tr>
                    <th><div class="" id="">Estágio da UP</div></th>
                    <td>
                        @Html.DropDownListFor(model => model.estagio_UP,Model.opcoesEstagios,"Selecione o estágio",new { @class = "form-control",id = "comboEstagio", disabled = true})
                    </td>
                </tr>
                <tr>
                    <th><div class="" id="">Data em que foi diagnosticado o estágio</div></th>
                    <td>
                        @Html.TextBoxFor(model => model.data_UP,new { @class = "form-control", id = "txtData",placeholder = "dd/mm/aaaa", disabled = true })
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<!--============================================= REGISTRO DE VISITAS ====================================-->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> Registros das visitas</h3>
    </div>

    <table class="table table-condensed">
        <tr>
            <th class="col-md-2">Data da visita</th>
            <th class="col-md-2">Responsável</th>
            <th class="col-md-2">Periodicidade</th>
            <th class="col-md-6">Procedimentos</th>
        </tr>
        <tr>
            <td>15/07/1994</td>
            <td>Lucas Mitsuo</td>
            <td>Semanal</td>
            <td>I6,C6,H8 <br /> Foi feito uma análise, e foi constatado um comportamento anormal em relação ao falar.</td>
        </tr>
        <tr>
            <td>15/07/1994</td>
            <td>Thays Boschi</td>
            <td>Trimestral</td>
            <td>I6,C6,H8,I9,82,9</td>
        </tr>
        <tr>
            <td>16/11/1998</td>
            <td>Damaris Oliveira</td>
            <td>Trimestral</td>
            <td>I6,09,A67,97.<br /> O paciente demonstrou melhoria da última visita para cá. Está falando mais e gesticulando com mais facilidade.</td>
        </tr>
        <tr id="novo-registro-visita" class="hidden" >
            <td class="td-data">data</td>
            <td class="td-nome">nome</td>
            <td class="td-periodo">periodo</td>
            <td class="td-anotacoes" style="white-space:pre-line">anotacoes<br />haha </td>
        </tr>
    </table>

</div>

<div class="row">
    <button type="button" id="btnAdicionarVisita" class="btn btn-info" data-toggle="modal" data-target="#myModal" style="float:right;margin-right:15px">Adicionar Visita</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content" style="border: 1px solid #eee; border-left-width: 5px; border-radius: 3px; border-left-color:#5bc0de; ">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Registre sua visita</h4>
                </div>
                <div class="modal-body">
                    <div style="margin-left:20px">
                        <div class="row">
                            <p id="label-data-visita"><strong>Data da visita:</strong> &nbsp; @Model.Visita.dat_visita.ToShortDateString()</p>
                        </div>
                        <div class="row">
                            <p id="label-nome-profissional"><strong>Responsável:</strong> &nbsp; @Model.Visita.TAB_PROFISSIONAL.des_cargo</p>
                        </div>
                        <div class="row">
                            <p>
                                <strong>Periodicidade:</strong> &nbsp;
                                @Html.DropDownListFor(model => model.periodicidade,Model.opcoesPeriodicidade,"Selecione a periodicidade",new { @class = "form-control"})
                            </p>
                        </div>
                        <div class="row" id="rp-procedimentos" data-target-input="target-input-proc" data-url="http://localhost:32110/api/procedimentos">
                            <strong>Procedimento:</strong>
                            <input type="text" id="target-insert-proc" class="form-control" style="min-width:100%"  placeholder="Digite os procedimentos realizados aqui" />
                        </div>
                            <input class="hidden" type="text" id="target-input-proc" style="min-width:100%"/>
                        <br />
                        <div class="row">
                            <strong>Observação:</strong>
                            <textarea class="form-control" id="txtObservacao" style="min-width:100%" rows="4"></textarea>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnLimpaCampos"class="btn btn-default" onclick="LimparCampos()"><span class="glyphicon glyphicon-remove"></span> Limpar</button>
                    <button type="button" id="btnSalvarVisita" class="btn btn-primary" data-dismiss="modal" onclick="AdicionaVisita()"><span class="glyphicon glyphicon-ok"></span> Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

<!--=================================== SAÍDA DO PACIENTE ===================================-->

<div class="panel panel-info ">
    <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-flag"></span> Saída do paciente</h3>
    </div>

    <table class="table">
        <tr>
            <th class="col-md-2">Data da saída:</th>
            <td>
                @Html.TextBoxFor(model => model.saidaData, new { @class = "form-control",placeholder = "dd/mm/aaaa"})
            </td>
        </tr>
        <tr>
            <th class="col-md-2">Motivo:</th>
            <td>
                @Html.DropDownListFor(model => model.saidaMotivo, Model.opcoesMotivoSaida,"Selecione o motivo", new { @class = "form-control",id = "comboMotivo"})
            </td>
        </tr>
        <tr class="hidden" id="saida-alta">
            <th class="col-md-2">Informe o motivo:</th>
            <td>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Administrativo",new { }) Administrativo</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Mudança de região", new { }) Mudança de região</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "UBS", new { }) UBS</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Amb_HU", new { }) Amb_HU</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Reabilitação", new { }) Reabilitação</div>
            </td>
            <td>
                <label>Outros: </label><input type="text" class="form-control" placeholder="Informe o motivo" />
            </td>
        </tr>

        <tr class="hidden" id="saida-obito">
            <th class="col-md-2">Informe o local:</th>
            <td>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Domicílio", new { }) Domicílio</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "PS_HU", new { }) PS_HU</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "Int_HU", new { }) Int_HU</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "H_Clínicas", new { }) H_Clínicas</div>
                <div class="radio">@Html.RadioButtonFor(model => model.saidaDescricao, "ICESP", new { }) ICESP</div>
            </td>
            <td>
                <label>Outros: </label><input type="text" class="form-control" placeholder="Informe o local" />
            </td>
        </tr>
    </table>
</div>

<div class="row">
    <button type="submit" id="btnSalvarDados" class="btn btn-primary" style="float:right;margin-right:15px"><span class="glyphicon glyphicon-floppy-saved"></span> Salvar Dados</button>
</div>
}