@model IQueryable<TAB_PACIENTE>
@{
    ViewBag.Title = "Lista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#428bca;"><span class="glyphicon glyphicon-user"></span> Lista de pacientes</h2>
<h4>Escolha por visualizaar ou Iniciar o formulário</h4>

<div class="list-group">

    @if (Model.Count() > 0)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">Código</th>
                    <th class="col-md-3">Nome</th>
                    <th class="col-md-1">Idade</th>
                    <th class="col-md-3">Cuidador</th>
                    <th class="col-md-1">Parentesco</th>
                    <th class="col-md-3">Ações de Formulário</th>
                </tr>

                @foreach(var paciente in Model)
                {
                    <tr>
                        <td>@paciente.cod_paciente</td>
                        <td>@paciente.nom_paciente</td>
                        <td>@paciente.Idade</td>
                        <td>@paciente.Nom_cuidador</td>
                        <td>@paciente.des_parentesco</td>
                        <td>
                            @if (paciente.PossuiFormulario)
                            {
                                @Html.ActionLink("Visualizar", "", "", new { @class = "btn btn-primary" })
                                @Html.ActionLink("Iniciar", "", "", new { @class = "btn btn-default", style = "margin-left:10px", disabled = true, title = "Prontuário já iniciado" })
                            }
                            else
                            {
                                @Html.ActionLink("Visualizar", "", "", new { @class = "btn btn-primary", disabled = true})
                                @Html.ActionLink("Iniciar", "", "", new { @class = "btn btn-default",style="margin-left:10px" })
                            }
                           
                        </td>
                    </tr>
                }
            </thead>
        </table>
    }
</div>
